<div ng-controller="MainController" class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="50" layout="column">

        <md-card ng-repeat="(key, nutrient) in nutrients" md-theme="default" md-theme-watch>
          <md-card-title ng-click="goToNutrient(key)">
            <md-card-title-text>
              <span class="md-headline">{{nutrient.name}}</span>
              <span class="md-subhead">
                {{nutrient.amount}} {{nutrient.unit}}.
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>

        <md-card ng-repeat="(key, recipe) in recipes" md-theme="default" md-theme-watch>
          <md-card-title ng-click="goToRecipe(key)">
            <md-card-title-text>
              <span class="md-headline">{{recipe.name}}</span>
              <span class="md-subhead" ng-repeat="ingredient in recipe.ingredients">
                {{ingredient.amount}} {{ingredient.unit}} of {{ingredient.name}}.
              </span>
            </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media">
              <img ng-src="https://d30y9cdsu7xlg0.cloudfront.net/png/82540-200.png" height="100%">
            </div>
          </md-card-title-media>
          </md-card-title>
        </md-card>

        <md-card md-theme="default" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Add a Nutrient</span>
              <span class="md-subhead">
                <form>
                  <div class="form-group">
                    <label>Name: </label>
                    <input type="text" class="form-control" ng-model="nutrient.name" />
                  </div>
                  <div class="form-group">
                    <label>Amount: </label>
                    <input type="number" class="form-control" ng-model="nutrient.amount" />
                  </div>
                  <div class="form-group">
                    <input type="radio" name="unit" ng-model="nutrient.unit" value="grams" checked> g
                    <input type="radio" name="unit" ng-model="nutrient.unit" value="milliliters"> mL
                  </div>
                    <input type="submit" class="btn btn-primary" ng-click="writeNutrientData(nutrient.id, nutrient.name, nutrient.amount, nutrient.unit)" value="Save" />
                </form>
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>

        <md-card md-theme="default" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Create a Recipe</span>
              <span class="md-subhead">
              <form>
                <div class="form-group">
                  <label class="card-title">Name: </label>
                  <input type="text" class="form-control" ng-model="recipe.name" />
                </div>
                  <input type="submit" class="btn btn-primary" ng-click="writeRecipeData(recipe.id, recipe.name)" value="Save" />
              </form>
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>

      </div>
    </md-content>

  </main>

  <fountain-footer></fountain-footer>
<!--
<pre>
recipe = {{recipe | json}}

nutrients = {{nutrients | json}}

ingredients = {{ingredients | json}}

recipes = {{recipes | json}}

mixes = {{mixes | json}}
</pre>
-->
</div>
