<div class="modal-header">
    <h3 class="modal-title">MENU</h3>
</div>
<div ng-controller="AsideController" class="modal-body">
  <h4 class="menu-choice" ng-click="aboutUs()">ABOUT US</h4>
  <h4 class="menu-choice" ng-click="whoWeAre()">WHO WE ARE</h4>
  <h4 class="menu-choice" ng-click="upcomingEvents()">UPCOMING EVENTS</h4>
  <h4 class="menu-choice" ng-click="contactUs()">CONTACT US</h4>
  <!-- <h4 class="menu-choice" ng-click="socialMedia()">SOCIAL MEDIA</h4> -->
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" ng-click="ok($event)">OK</button>
    <button class="btn" ng-click="cancel($event)">Cancel</button> -->
</div>
