html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #4752a3;
  }
}

.carousel-inner {
  width: 100%;
  // height: 600px;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;
}
.header-title {
  flex: 6;
  font-size: 2.4rem;
  margin: 1rem;
  color: white;
}

.glyphicon-align-justify {
  font-size: 50px;
  cursor: pointer;
  color: white;
  padding-left: 10px;
  padding-bottom: 4px;
}
.glyphicon-align-justify:hover {
    opacity: 0.8;
  }

.modal-content {
  background-color: #0f0f0f;
  color: white;
}

.header-date {
  flex: 1;
  text-align: right;
  font-size: 2.4rem;
  color: white;
  margin: 1rem;
  white: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 3rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: black;
  text-align: center;
  color: white;
}

.techs-container {
  margin: 1rem;
}
.techs-h2 {
  font-weight: 300;
  font-size: 2.5rem;
}
.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech {
  height: 14rem;
  width: 20rem;
  border: 1px solid lightgray;
  margin: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
}
.tech:hover {
    background-color: #0f0f0f;
}

.tech-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}
.tech-h3 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.header-title-img {
 height: 80px;
}

.insta-logo {
  height: 50px;
}
.insta-logo:hover {
  opacity: 0.8;
}

.fb-logo {
  height: 70px;
}
.fb-logo:hover {
  opacity: 0.8;
}

.tumblr-logo {
  height: 50px;
}
.tumblr-logo:hover {
  opacity: 0.8;
}

.menu-choice:hover {
  color: gray;
  cursor: pointer;
}

.header-title:hover {
  cursor: pointer;
}

svg #Layer_1 {
  width: 24px;
  height: 30px;
}

@media only screen and (max-width : 820px) {
  .header-title-img {
   height: 40px;
  }
  .insta-logo {
    height: 24px;
  }

  .fb-logo {
    height: 35px;
  }

  .tumblr-logo {
    height: 24px;
  }
  .glyphicon-align-justify {
    font-size: 34px;
    cursor: pointer;
    color: white;
    padding-left: 10px;
    padding-bottom: 4px;
  }
  .carousel-inner {
    width: 100%;
    overflow: hidden;
  }
 }

@media only screen and (max-width : 420px) {
  .header-title-img {
   height: 20px;
  }
  .insta-logo {
    height: 12px;
  }

  .fb-logo {
    height: 17px;
  }

  .tumblr-logo {
    height: 12px;
  }
  .glyphicon-align-justify {
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-left: 10px;
    padding-bottom: 4px;
  }
  .carousel-inner {
    width: 100%;
    overflow: hidden;
  }
 }
